<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>
<form th:action="@{/prod-create}" th:object="${project}" method="post">
    <label for="id">Id</label>
    <input type="text" th:field="*{id}" id="id" placeholder="id">
    <label for="name">Name of Project</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <input type="submit" value="Create Prod">
</form>
</body>
</html>