<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Hours</th>
        <th>Birth</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="devs : ${devList}">
        <td th:text="${devs.getId()}"></td>
        <td th:text="${devs.getFirst_name()}"></td>
        <td th:text="${devs.getLast_name()}"></td>
        <td th:text="${devs.getProjectHours()}"></td>
        <td th:text="${#dates.format(devs.getDateOfBirth(), 'dd-MMM-yyyy')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>